.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-list li a:hover {}

.active {
    color: red;
}