.button {
    margin-top: 12px;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    background-color: orange;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}